.header {
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background);
}

.header-nav {
  max-width: var(--page-width);
  height: var(--header-height);

  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-links a {
  color: var(--color-muted-foreground);
  text-decoration: none;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-links a:hover {
  color: var(--color-foreground);
}

/* Logo */
.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: var(--color-foreground);
  text-decoration: none;
}

.logo-main {
  font-family: var(--font-heading), serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
}

.logo-sub {
  margin-top: 4px;

  color: var(--color-primary);

  font-family: var(--font-heading), serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* Categories */
.icon-button {
  padding: 4px;

  border: none;
  background: none;

  color: var(--color-muted-foreground);
  font-size: 18px;

  cursor: pointer;
}

.icon-button:hover {
  color: var(--color-foreground);
}

/* Cart */
.header-icons {
  scale: 90%;
}

.header-icons:hover {
  scale: 100%;
}
